yarn-error.log*
yarn-debug.log*
todo.txt
TODO.md
speech
npm-debug.log*
notes/
node_modules
next-env.d.ts
key.json
db/
db-data/*
/out/
/node_modules
/coverage
/build
/.pnp
/.next/
*.tsbuildinfo
*.pem
*.db-journal
*.db
.vscode
.vercel
.pnpm-debug.log*
.pnp.js
.env*.local
.env*
.env
.DS_Store
.aider*
!db-data/.gitkeep
!db-data/.gitignore